

.table-head h1{
    font-family: Fraunces;
font-size: 64px;
font-weight: 700;
line-height: 79px;
letter-spacing: 0em;
text-align: center;
color: rgba(26, 26, 26, 0.7)



}
.image-cell {
    display: flex;
    align-items: center;
  }
  
  .vertical-text-cell {
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  

.table-head span{
    font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
text-align: center;
color: #D3AF5E;
}

/* .table-main{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  
} */

.icon-1{
    padding-top: 20px;
}

.icon-1 h1{
    font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.019em;
text-align: center;
color: #000000;
padding-top: 30px;
}

.icon-1 p{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.019em;
text-align: center;
color:  #1A1A1A99;
;
}
.icon-1 span{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.019em;
text-align: left;
color:  #1A1A1A99;
margin-top: 30px;

}


.icon-2{
    padding-top: 40px;
}
.icon-2 h1{
    font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.019em;
text-align: center;
color:  #000000;

}
.icon-2 p{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.019em;
text-align: center;
color: #1A1A1A99;

}

@media screen and (max-width:780px) {
    .table-head h1{
        font-family: Fraunces;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        
       
        
    color: rgba(26, 26, 26, 0.7)
    
    
    
    }

    .table-head span{
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
    color: #D3AF5E;
    }
    
}
@media screen and (max-width:540px) {
    .table-head{
        padding-top: 40px;
    }
    .table-head h1{
        font-family: Fraunces;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        
       
        
    color: rgba(26, 26, 26, 0.7)
    
    
    
    }
    
    .table-head span{
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    color: #D3AF5E;
    }
    .table-main{
        display: flex;
       flex-wrap: wrap;
       justify-content: center;
      
    }
    .icon-1 img{
        width: 60%;
    }

}